/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/database/seeds
/database/factories
/resources/views/vendor
.env
.env.live
.env.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
