.admin-label {
    border-radius: 8px 4px 8px 4px;
    background-color: red;
    // background-image: url(/storage/images/banner-middle.png);
    // background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
    font-style: italic;
}

